name: Build all packages

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 2
    - uses: prefix-dev/setup-pixi@a0af7a228712d6121d37aba47adf55c1332c9c2e # v0.9.4
      with:
        pixi-version: v0.31.0
        environments: build
        activate-environment: true
    - name: Build packages
      shell: bash
      run: |
        rattler-build build --recipe-dir . --skip-existing=all \
            -c conda-forge -c https://prefix.dev/typst-forge
      env:
        RATTLER_BUILD_ENABLE_GITHUB_INTEGRATION: true
        RATTLER_BUILD_COLOR: always
    - name: Upload packages as artifacts
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        path: |
          output/**/*.conda

    - name: Get JWT
      id: get_token
      if: github.event_name == 'push'  # do not upload on PR
      uses: actions/github-script@v8
      with:
        script: |
          const token = await core.getIDToken('prefix.dev')
          core.setOutput('token', token)
    - name: Mint the API Key on prefix.dev
      if: github.event_name == 'push'  # do not upload on PR
      run: |
        TOKEN="${{ steps.get_token.outputs.token }}"
        RESPONSE="$(curl -s -X POST                 \
             https://prefix.dev/api/oidc/mint_token \
             -H 'Content-Type: application/json'    \
             --data "{\"token\": \"$TOKEN\"}")"
        # mask the response
        echo "::add-mask::$RESPONSE"
        echo "PREFIX_API_KEY=$RESPONSE" >> "$GITHUB_ENV"
    - name: Upload all packages
      shell: bash
      if: github.event_name == 'push'  # do not upload on PR
      run: |
        shopt -s nullglob
        EXIT_CODE=0
        for file in output/**/*.conda; do
          if ! rattler-build upload prefix -c typst-forge "$file"; then
            EXIT_CODE=1
          fi
        done
        exit $EXIT_CODE
